body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    line-height: 1.6;
    word-wrap: break-word;
    padding: 30px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    overflow: scroll;
    background-color: rgb(255, 255, 255);
}

body > :last-child {
    margin-bottom: 0 !important;
}

h1 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: bold;
    padding-bottom: 0.3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid rgb(238, 238, 238);
}

p,
ul,
pre {
    margin-top: 0;
    margin-bottom: 16px;
}

ul {
    padding-left: 2em;
}

ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

li > p {
    margin-top: 16px;
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

code {
    padding: 0.2em 0;
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.0392157);
    color: inherit;
}

code::before,
code::after {
    letter-spacing: -0.2em;
    content: " ";
}

pre {
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgb(247, 247, 247);
    word-wrap: normal;
    padding: 0.8em 1em;
    margin-bottom: 1em;
    border-radius: 4px;
    /*color: #abb2bf;*/
}

a {
    color: rgb(51, 122, 183);
}
